@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center; background-image: url(../../images/background.jpg);background-size: auto;
   
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding:20%;
    
    ">
    <h1 style="font-family:Algerian;color:aqua">The music harbor</h1>
    <p class="lead" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color:aqua">Music should strike fire from the heart of man, and bring tears from the eyes of woman.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/firsttext.jpg" height="150"/>
        <p>
            There will be big festival with many indie rock bands.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/vh1.jpg" height="150"/>
        <p>VH1 guess the year is one of the most loved shows.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/chance.jpg" height="150" />
        <p>The first performer to win Grammy award in music for a streaming only album.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>