@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center; background-image: url(../../images/background.jpg);background-size: auto;
   
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding:20%;
    
    ">
    <h1 style="font-family:Algerian;color:aqua">The music harbor</h1>
    <p class="lead" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color:aqua">Music should strike fire from the heart of man, and bring tears from the eyes of woman.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/firsttext.jpg" height="150"/>
        <p>
            There will be big festival with many indie rock bands.
        </p>
        <p><a class="btn btn-default" href="https://www.inmusicfestival.com/en/news/limited-number-daily-tickets-inmusic-festival-12-available-today-daily-line-announced">For more info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/vh1.jpg" height="150"/>
        <p>VH1 top 100 songs of the 00's</p>
        <p><a class="btn btn-default" href="http://www.vh1.com/news/1678/100-greatest-songs-of-00s/">For more info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/chance.jpg" height="150" />
        <p>The first performer to win Grammy award in music for a streaming only album.</p>
        <p><a class="btn btn-default" href="http://www.independent.co.uk/arts-entertainment/music/news/chance-the-rapper-grammy-awards-speech-best-rap-album-kanye-drake-coloring-book-a7576836.htmll">For more info &raquo;</a></p>
    </div>
</div>